body {
    front-family : Arial;
    background : linear-gradient(to right, #0072ff);
    text-align : center; 
    color : white ;

}
.container {  
    margin-top : 100px;

}
input { 
    padding: 10px;
    width:200px;
}
button { 
    padding : 10px;
    width: 200px;

}
button { 
    padding:  10px 15px;
    background: orange ;
    border: none ;
    cursor : pointer;
}

